- model_class = Opinion
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:nickname) + ':'
  %br
  = @opinion.nickname
%p
  %strong= model_class.human_attribute_name(:about) + ':'
  %br
  = @opinion.about
%p
  %strong= model_class.human_attribute_name(:tag_id) + ':'
  %br
  = @opinion.tag_id
%p
  %strong= model_class.human_attribute_name(:delta_days) + ':'
  %br
  = @opinion.delta_days

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), opinions_path, :class => 'btn'
  -if can? :edit, Opinion
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_opinion_path(@opinion), :class => 'btn'
  -if can? :destroy, Opinion
    = link_to t('.destroy', :default => t("helpers.links.destroy")), opinion_path(@opinion), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
