.span2
  .fixed_menu
    .well.sidebar-nav
      %ul.nav.nav-list
        %h3
          Теги
        %li.nav-header
        - @tags.each do |tag|
          %li
            = link_to "##{tag.name}", user_path(current_user, :current_tag_id => tag.id)
        %hr
.span10
  %h1.text-center
    Лента новостей
  -@post.each do |post|
    .span5.news
      .well
        .media
          %h4.media-heading.text-center
            =post.from
          -unless post.pic_url == '0'
            %a.pull-left{href: post.pic_url}
              =image_tag post.pic_url, class: 'img-polaroid img_blog'
          .media-body
            .media
              .text-center.post_time
                =post.updated_time
              %p.post_msg
                -#=post.message[0..150]
              %a.msgpop{'data-content' => '',
               'data-original-title' => "#{post.message}", href: '#',
                rel: 'popover', 'data-placement' => 'bottom', 'data-trigger' => 'hover' }
                =post.message[0..150]
                -if post.message.length > 150
                  "..."
        .accordion{:id => "comment_collapse_#{post.id}"}
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{'data-parent' => "#comment_collapse_#{post.id}",
               'data-toggle' => 'collapse', href: "#collapse_#{post.id}"}
                = "Комментарии (#{post.comments.count})"
            .accordion-body.collapse{:id => "collapse_#{post.id}"}
              .accordion-inner
                - post.comments.each do |comment|
                  .well
                    %b
                      ="#{comment[:from]} : "
                    ="#{comment[:message]}"
                  %hr
.row
  .span6
  .span4
    = will_paginate @post, class: "apple_pagination"
:javascript
  $(function (){
     $(".msgpop").popover();
  });