!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= content_for?(:title) ? yield(:title) : 'Fd'
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'
    = stylesheet_link_tag 'application', :media => 'all'
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag 'application'

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target='.nav-collapse' data-toggle='collapse')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =image_tag 'nav-ico.png', :class =>'img img-rounded nav-img pull-left'
          .branddiv
            = link_to 'fD', root_path
          .container.nav-collapse
            -if can? :see, :control_menu
              %ul.nav
                %li.dropdown
                  %a.dropdown-toggle.brand{'data-toggle' => 'dropdown', href: "#{user_path(current_user)}"}
                    Управление
                    %b.caret
                  %ul.dropdown-menu
                    - if can? :index, User
                      %li
                        =link_to 'Управление пользователями', users_path, class: 'text-center'
                    - if can? :index, Opinion
                      %li
                        =link_to 'Управление подписками', opinions_path, class: 'text-center'
                    - if can? :index, Tag
                      %li
                        =link_to 'Управление тегами', tags_path, class: 'text-center'
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle.brand{'data-toggle' => 'dropdown', href: "#{user_path(current_user)}"}
                  = current_user.username
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %p.text-center
                      =current_user.username
                  %li
                    %p.text-center
                      =current_user.email
                  %li.divider
                  -if can? :edit, current_user
                    %li= link_to 'Редактировать профиль', edit_user_registration_path(current_user)
                  %li= link_to 'Выйти', destroy_user_session_path
    .container
      .row
        = bootstrap_flash
        = yield
      %footer
        %p &copy; Yuri Panchenko 2013
